@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,600;0,5..1200,700;0,5..1200,800;0,5..1200,900;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,600;1,5..1200,700;1,5..1200,800;1,5..1200,900&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.accordion__button {
    background-color: #baa68cf3;
    color: #000;
    cursor: pointer;
    padding: 18px 3rem;
    width: 100%;
    text-align: left;
    border: none;
    font-weight: 900;
    font-size: 1.4rem;
}

.accordion__item{
    padding: 10px;
    font-size: 1.2rem;
    margin: 0.4rem 0rem;
}

.accordion__panel{
    background-color: #baa68cf3;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu-links{
    display: inline-block;
    position: relative;
}
  
  .menu-links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BAA68C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.menu-links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}






